Firstly, we download necessary libraries and then display the top rows of all tables right away. To remark, we possess six datasets each representing either the USA or Canada and the certain job posting site

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd
import numpy as np

In [4]:
USA_glassdoor = pd.read_excel(r"C:\Users\mmatr\OneDrive\Рабочий стол\JobsProject\JobsData\USA\GlassDoor\Glassdoor_Data_analyst_Jobs_USA.xlsx")
USA_indeed = pd.read_excel(r"C:\Users\mmatr\OneDrive\Рабочий стол\JobsProject\JobsData\USA\Indeed\Indeed_USA_Job_listing.xlsx")
USA_linkedin = pd.read_excel(r"C:\Users\mmatr\OneDrive\Рабочий стол\JobsProject\JobsData\USA\LinkedIn\LinkedIn_Data Analyst_jobs_United_States_main.xlsx")

In [5]:
display(USA_glassdoor.head(2))
display(USA_indeed.head(2))
display(USA_linkedin.head(2))

,job_title,company_name,joblink_URL,location,salary_range,rating,emp_type,job_level,job_responsib,industry
0,Data Entry Analyst - Remote /Office,Angelo Elite Inc,https://www.glassdoor.ca/partner/jobListing.ht...,"Washington, DC",US$23.00 Per Hour(Employer Est.),NaN,NaN,NaN,NaN,NaN
1,Jr. Data Analyst,Net2Aspire,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$65K - US$80K (Employer Est.),NaN,NaN,NaN,NaN,NaN

,job_title,company_name,joblink_URL,location,salary_range,rating,emp_type,job_level,job_responsib,industry
0,Quality Analyst,TikTok,https://www.indeed.com/rc/clk?jk=b7c710aba8c1a...,"Nashville, TN\n+1 location",NaN,NaN,NaN,NaN,NaN,NaN
1,Jr Data Analyst - Remote,UnitedHealth Group,https://www.indeed.com/rc/clk?jk=bf2ff874cd368...,"Remote in Eden Prairie, MN 55346",NaN,NaN,NaN,NaN,NaN,NaN

,job_title,company_name,joblink_URL,location,salary_range,rating,job_level,emp_type,job_responsib,industry
0,Data Analyst,Alan Gray LLC,https://www.linkedin.com/jobs/view/data-analys...,"Boston, MA",NaN,NaN,Entry level,Full-time,Information Technology,Insurance
1,Data Analyst,RennerBrown,https://www.linkedin.com/jobs/view/data-analys...,"New York, United States","$115,000 - $130,000",NaN,Mid-Senior level,Full-time,Information Technology,IT Services and IT Consulting

Now when we ensured that dataframes columns match we can concatenate those pieces in one single table

In [6]:
usa_jobs = pd.concat([USA_glassdoor, USA_indeed, USA_linkedin])

Straightaway we secure our data from being mistakenly repeated and for both tables we apply drop_duplicates method by joblink_URL(unique identifier for every posting in this case) in order to preserve the fairness and quality of future analysis

In [7]:
usa_jobs.shape

(3152, 10)

In [8]:
usa_jobs = usa_jobs.drop_duplicates(subset = ['job_title', 'company_name', 'location'])
usa_jobs.shape

(1757, 10)

First of all, we will take a look at data type of each column, verify its correctness and glance at overall description:

In [9]:
usa_jobs.dtypes

job_title         object
company_name      object
joblink_URL       object
location          object
salary_range      object
rating           float64
emp_type          object
job_level         object
job_responsib     object
industry          object
dtype: object

In [10]:
usa_jobs.describe(include='all')

,job_title,company_name,joblink_URL,location,salary_range,rating,emp_type,job_level,job_responsib,industry
count,1757,1754,1754,1757,223,127.000000,682,684,682,682
unique,992,1256,1754,903,200,NaN,5,6,42,89
top,Data Analyst,SynergisticIT,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$65K - US$80K (Employer Est.),NaN,Full-time,Entry level,Information Technology,IT Services and IT Consulting
freq,417,60,1,160,5,NaN,402,445,536,276
mean,NaN,NaN,NaN,NaN,NaN,3.922047,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,0.565252,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,3.600000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,3.900000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,4.300000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN

In [11]:
usa_jobs[usa_jobs['company_name'] == 'SynergisticIT']

,job_title,company_name,joblink_URL,location,salary_range,rating,emp_type,job_level,job_responsib,industry
171,Junior Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"Honolulu, HI",NaN,NaN,Full-time,Entry level,Information Technology,IT Services and IT Consulting
268,Junior Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"Houston, TX",NaN,NaN,Full-time,Entry level,Information Technology,Higher Education
270,Junior Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"Pasadena, CA",NaN,NaN,Full-time,Entry level,Information Technology,IT Services and IT Consulting
271,Junior Data Analyst-Remote,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"Cheyenne, WY",NaN,NaN,Full-time,Entry level,Information Technology,IT Services and IT Consulting
273,Junior Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"San Jose, CA",NaN,NaN,Full-time,Entry level,Information Technology,IT Services and IT Consulting
274,Junior Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"Charlotte, NC",NaN,NaN,Full-time,Entry level,Information Technology,IT Services and IT Consulting
276,Junior Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"Cambridge, MA",NaN,NaN,Full-time,Entry level,Information Technology,IT Services and IT Consulting
279,Junior Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"Orlando, FL",NaN,NaN,Full-time,Entry level,Information Technology,IT Services and IT Consulting
280,Junior Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"Boston, MA",NaN,NaN,Full-time,Entry level,Information Technology,IT Services and IT Consulting
287,Junior Data Analyst-Remote,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"Texas City, TX",NaN,NaN,Contract,Mid-Senior level,Information Technology,IT Services and IT Consulting
331,Junior Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"Phoenix, AZ",NaN,NaN,Full-time,Entry level,Information Technology,"Technology, Information and Internet"
336,Junior Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"Hudson, OH",NaN,NaN,Full-time,Entry level,Information Technology,"Technology, Information and Internet"
345,Junior Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"Boston, NY",NaN,NaN,Contract,Mid-Senior level,Information Technology,Nanotechnology Research
347,Entry level data analyst,SynergisticIT,https://www.linkedin.com/jobs/view/entry-level...,"New York, NY",NaN,NaN,Contract,Mid-Senior level,Information Technology,Nanotechnology Research
348,Entry Level Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/entry-level...,"San Francisco, CA",NaN,NaN,Contract,Mid-Senior level,Information Technology,Nanotechnology Research
350,Entry Level Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/entry-level...,"Athens, GA",NaN,NaN,Contract,Mid-Senior level,Information Technology,Nanotechnology Research
395,Junior Data Analyst-Remote,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"Buffalo, NY",NaN,NaN,Full-time,Entry level,Analyst,Advertising Services
398,Junior Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"Boise, ID",NaN,NaN,Full-time,Entry level,Analyst,Advertising Services
406,Data Analyst-Remote,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"Miami, FL",NaN,NaN,Full-time,Entry level,Analyst,Advertising Services
413,Entry Level Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/entry-level...,"Normal, IL",NaN,NaN,Full-time,Entry level,Analyst,Advertising Services
416,Entry Level Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/entry-level...,"St Petersburg, FL",NaN,NaN,Full-time,Entry level,Analyst,Advertising Services
460,Entry Level Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/entry-level...,"Atlanta, GA",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
468,Junior Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"Lubbock, TX",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
470,Junior Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"Fargo, ND",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
471,Junior Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"Buffalo, NY",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
473,Entry Level data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/entry-level...,"Los Angeles, CA",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
474,Data Analyst (Remote),SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"Los Angeles, CA",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
477,Junior Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"Billings, MT",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
483,Entry Level Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/entry-level...,"Houston, TX",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
532,Junior Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"Louisville, KY",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
535,Junior Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/junior-data...,"Rochester, MN",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
539,Entry Level Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/entry-level...,"San Antonio, TX",NaN,NaN,Full-time,Entry level,Information Technology,IT Services and IT Consulting
543,Entry Level Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/entry-level...,"West Lafayette, IN",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
544,Data Analyst-Remote,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"Rochester, NY",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
596,Entry Level Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/entry-level...,"Louisville, KY",NaN,NaN,Full-time,Entry level,Information Technology,Internet Publishing
600,Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"San Francisco, CA",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
622,Entry level Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/entry-level...,"Jacksonville, FL",NaN,NaN,Full-time,Entry level,Information Technology,Retail
632,Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"New Orleans, LA",NaN,NaN,Full-time,Entry level,Information Technology,Retail
686,ENTRY LEVEL DATA ANALYST,SynergisticIT,https://www.linkedin.com/jobs/view/entry-level...,"Los Angeles, CA",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
687,Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"Omaha, NE",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
691,Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"Fort Worth, TX",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
692,Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"Tucson, AZ",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
710,Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"Miami, FL",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
712,Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"Seattle, WA",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
721,Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"Cambridge, MA",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
729,Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"Jersey City, NJ",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
732,Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"Buffalo, NY",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
746,Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"Mountain Brook, AL",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
747,Entry Level Data Analyst/ Python programmer po...,SynergisticIT,https://www.linkedin.com/jobs/view/entry-level...,"Dallas, TX",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
752,Entry Level Data Anlyst,SynergisticIT,https://www.linkedin.com/jobs/view/entry-level...,"Los Angeles, CA",NaN,NaN,Contract,Entry level,Information Technology,Staffing and Recruiting
757,Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"Santa Clara, CA",NaN,NaN,Full-time,Entry level,"Strategy/Planning, Consulting, and Engineering","Construction, Civil Engineering, and Business ..."
803,Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"Lubbock, TX",NaN,NaN,Full-time,Entry level,Information Technology,Staffing and Recruiting
804,Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"Los Angeles, CA",NaN,NaN,Full-time,Entry level,Information Technology,Staffing and Recruiting
859,Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"West Lafayette, IN",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
862,Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"Branson, MO",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
874,Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"Henderson, NV",NaN,NaN,Contract,Mid-Senior level,Analyst,IT Services and IT Consulting
896,Data Analyst,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"Ridgewood, NJ",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
897,DATA ANALYST,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"Boise, ID",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
974,Data Analyst-,SynergisticIT,https://www.linkedin.com/jobs/view/data-analys...,"Cleveland, ND",NaN,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting
1351,Data Analytics,SynergisticIT,https://www.linkedin.com/jobs/view/data-analyt...,"New York, NY",NaN,NaN,Full-time,Entry level,Information Technology,IT Services and IT Consulting

Splendid, types of all columns matches what we want them to perform. The exception is 'salary_range' field, but the whole section will be devoted for its normalizing.

The 'describe' method also did not bring any ambiguity. The amount of unique titles and company names differs from their total amount, because there are cases when one company offers different jobs. For example SynergisticIT, the company appearing the most frequently, is looking for staff to fill 19 distinct positions in different locations all over the US.

Let's begin defining the site the job offer was posted on, relying on the fields we have in access

In [12]:
usa_jobs['site'] = usa_jobs['joblink_URL'].apply(lambda x: 'linkedin' if 'linkedin' in str(x).lower() else ('indeed' if 'indeed' in str(x).lower() else 'glassdoor'))

I suggest to proceed with working out the 'location' field:

In [13]:
#complete 'remote' feature engineering
usa_jobs['remote_locat'] = usa_jobs['location'].apply(lambda x: 'yes' if 'remote' in x.lower() else 'no')
usa_jobs['remote_job_tit'] = usa_jobs['job_title'].apply(lambda x: 'yes' if 'remote' in x.lower() else 'no')
usa_jobs['remote'] = usa_jobs.apply(lambda x: 'yes' if x['remote_job_tit'] == 'yes' else ('yes' if x['remote_locat'] == 'yes' else 'no'), axis=1)
usa_jobs.drop(columns = ['remote_locat', 'remote_job_tit'], axis=1,inplace=True)
usa_jobs[25:70]

,job_title,company_name,joblink_URL,location,salary_range,rating,emp_type,job_level,job_responsib,industry,site,remote
25,Jr. Data Analyst,ProgenyHealth,https://www.glassdoor.ca/partner/jobListing.ht...,"Plymouth Meeting, PA",US$43K - US$61K (Glassdoor Est.),3.2,NaN,NaN,NaN,NaN,glassdoor,no
26,UTS - 80% Remote Data Analyst at UNC CH,North Carolina State University,https://www.glassdoor.ca/partner/jobListing.ht...,"Chapel Hill, NC",US$55.00 - US$60.00 Per Hour(Employer Est.),4.3,NaN,NaN,NaN,NaN,glassdoor,yes
27,Data Analyst,AirPro Diagnostics/Nationwide Parts,https://www.glassdoor.ca/partner/jobListing.ht...,"Jacksonville, FL",US$54K - US$83K (Glassdoor Est.),3.3,NaN,NaN,NaN,NaN,glassdoor,no
28,Data Analyst,Booz Allen Hamilton,https://www.glassdoor.ca/partner/jobListing.ht...,"Rome, NY",US$19.00 - US$26.00 Per Hour(Employer Est.),4.2,NaN,NaN,NaN,NaN,glassdoor,no
29,Business Data Analyst I,DHL | Supply Chain,https://www.glassdoor.ca/partner/jobListing.ht...,"Norco, LA",US$56K - US$79K (Glassdoor Est.),3.8,NaN,NaN,NaN,NaN,glassdoor,no
30,Data Analyst,Imedex,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,NaN,4.4,NaN,NaN,NaN,NaN,glassdoor,yes
31,Data Analyst (Remote),ID.me,https://www.glassdoor.ca/partner/jobListing.ht...,"McLean, VA",US$58K - US$86K (Glassdoor Est.),3.3,NaN,NaN,NaN,NaN,glassdoor,yes
32,Data Analyst,Smarty,https://www.glassdoor.ca/partner/jobListing.ht...,"Provo, UT",US$70K - US$109K (Glassdoor Est.),4.8,NaN,NaN,NaN,NaN,glassdoor,no
33,Data Analyst,SCA Health,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,NaN,3.9,NaN,NaN,NaN,NaN,glassdoor,yes
34,Data Analyst,Stellar IT Solutions,https://www.glassdoor.ca/partner/jobListing.ht...,"Iselin, NJ",US$63K - US$98K (Glassdoor Est.),4.8,NaN,NaN,NaN,NaN,glassdoor,no
35,Healthcare Data Analyst,1 Point System,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$40.00 - US$50.00 Per Hour(Employer Est.),4.0,NaN,NaN,NaN,NaN,glassdoor,yes
36,Data Analyst,Crumbl Cookies,https://www.glassdoor.ca/partner/jobListing.ht...,"Lindon, UT",US$48K - US$70K (Glassdoor Est.),4.6,NaN,NaN,NaN,NaN,glassdoor,no
37,Data Analyst,jmecinc,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,NaN,NaN,NaN,NaN,NaN,NaN,glassdoor,yes
38,Data Analyst (Remote),CoinTracker,https://www.glassdoor.ca/partner/jobListing.ht...,"New York, NY",US$60K - US$94K (Glassdoor Est.),5.0,NaN,NaN,NaN,NaN,glassdoor,yes
39,Data Analyst,Lumin Global,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$70.00 Per Hour(Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,yes
40,Data Analyst,Ivy Tech Solutions inc,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,NaN,3.6,NaN,NaN,NaN,NaN,glassdoor,yes
41,"Data Analyst, Advanced Excel",ATL International (formerly DeNuke),https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$30.00 - US$45.00 Per Hour(Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,yes
42,CPS Data Analyst Co-op,The Coca-Cola Company,https://www.glassdoor.ca/partner/jobListing.ht...,"Atlanta, GA",US$63K - US$93K (Glassdoor Est.),4.1,NaN,NaN,NaN,NaN,glassdoor,no
43,Data Analyst - Testing Support,Leading Edge Skills,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$20.00 - US$25.00 Per Hour(Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,yes
44,Data Analyst,SnappyHires,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$130K - US$140K (Employer Est.),4.9,NaN,NaN,NaN,NaN,glassdoor,yes
45,Data Analyst Co-Op,Premier Inc.,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$43K - US$79K (Employer Est.),3.8,NaN,NaN,NaN,NaN,glassdoor,yes
46,Data Analyst,Regional Task Force on Homelessness,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$48K - US$52K (Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,yes
47,Data Analyst,DataPattern,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$48K - US$110K (Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,yes
48,Data Analyst,"FRSTeam, Inc.",https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$20.00 Per Hour(Employer Est.),3.6,NaN,NaN,NaN,NaN,glassdoor,yes
49,Data Analyst,"Maricopa County, AZ",https://www.glassdoor.ca/partner/jobListing.ht...,"Phoenix, AZ",US$55K - US$93K (Employer Est.),3.6,NaN,NaN,NaN,NaN,glassdoor,no
50,Data Security Analyst,Devcare Solutions,https://www.glassdoor.ca/partner/jobListing.ht...,"Jackson, MS",US$65.00 - US$70.00 Per Hour(Employer Est.),3.7,NaN,NaN,NaN,NaN,glassdoor,no
51,Data Entry Analyst,Agile Financial Systems,https://www.glassdoor.ca/partner/jobListing.ht...,"Southlake, TX",US$17.75 - US$19.25 Per Hour(Employer Est.),4.1,NaN,NaN,NaN,NaN,glassdoor,no
52,Data Analyst,"US News & World Report ,L.P.",https://www.glassdoor.ca/partner/jobListing.ht...,"Washington, DC",US$55K - US$79K (Glassdoor Est.),3.9,NaN,NaN,NaN,NaN,glassdoor,no
53,Entry Level Data Analyst - Automotive Data Ana...,Geneva Management,https://www.glassdoor.ca/partner/jobListing.ht...,"Reston, VA",US$12.00 - US$14.00 Per Hour(Employer Est.),3.0,NaN,NaN,NaN,NaN,glassdoor,yes
54,Laboratory Data Analyst (Molecular Genetics),Labcorp,https://www.glassdoor.ca/partner/jobListing.ht...,"Westborough, MA",US$50K - US$70K (Glassdoor Est.),3.8,NaN,NaN,NaN,NaN,glassdoor,no
55,Data Services Analyst Co-Op - Summer 2023,Crown Equipment Corporation,https://www.glassdoor.ca/partner/jobListing.ht...,"New Bremen, OH",US$58K - US$84K (Glassdoor Est.),3.9,NaN,NaN,NaN,NaN,glassdoor,no
56,Entry Level Business Analyst/Data Analyst,TRESUME,https://www.glassdoor.ca/partner/jobListing.ht...,"Baltimore, MD",US$28.00 - US$35.00 Per Hour(Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,no
57,Quantitative Data Research Analyst,Xcel Energy,https://www.glassdoor.ca/partner/jobListing.ht...,"Denver, CO",US$90K - US$127K (Employer Est.),3.8,NaN,NaN,NaN,NaN,glassdoor,no
58,Data Systems Analyst,Counseling Works,https://www.glassdoor.ca/partner/jobListing.ht...,"Lemont, IL",US$20.00 - US$22.00 Per Hour(Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,no
59,Data Analyst,Hazel,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,NaN,4.4,NaN,NaN,NaN,NaN,glassdoor,yes
60,Data Entry Analyst,Link Engineering Company,https://www.glassdoor.ca/partner/jobListing.ht...,"Dearborn, MI",US$39K - US$55K (Glassdoor Est.),3.8,NaN,NaN,NaN,NaN,glassdoor,no
61,Data Analyst,Chabeztech,https://www.glassdoor.ca/partner/jobListing.ht...,"Lorain, OH",US$55.00 - US$65.00 Per Hour(Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,no
62,Junior Business Analyst,aezion inc,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$20.00 - US$25.00 Per Hour(Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,yes
63,Data Analyst,ITTrail Blazers,https://www.glassdoor.ca/partner/jobListing.ht...,"New York, NY",US$28.00 Per Hour(Employer Est.),3.8,NaN,NaN,NaN,NaN,glassdoor,no
64,Data Analyst,Silent Falcon UAS Technologies,https://www.glassdoor.ca/partner/jobListing.ht...,"Front Royal, VA",NaN,3.6,NaN,NaN,NaN,NaN,glassdoor,no
65,Business Analyst,Granify,https://www.glassdoor.ca/partner/jobListing.ht...,"Austin, TX",US$70K - US$103K (Glassdoor Est.),4.5,NaN,NaN,NaN,NaN,glassdoor,no
66,Jr. Business Analyst,Blackrock Resources,https://www.glassdoor.ca/partner/jobListing.ht...,"Charleston, WV",US$65K - US$95K (Glassdoor Est.),4.1,NaN,NaN,NaN,NaN,glassdoor,no
67,Associate Data Analyst,"iHeartMedia, Inc.",https://www.glassdoor.ca/partner/jobListing.ht...,Texas,NaN,3.3,NaN,NaN,NaN,NaN,glassdoor,no
68,Data Analyst,Fabletics,https://www.glassdoor.ca/partner/jobListing.ht...,California,US$68K - US$106K (Employer Est.),4.3,NaN,NaN,NaN,NaN,glassdoor,no
69,Data Analyst,The New York City Post LLC,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$90K - US$110K (Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,yes

In [14]:
#pull out the city and state
usa_jobs['city'] = usa_jobs['location'].apply(lambda x:x.split('\n')[0].split(',')[0])
usa_jobs['state'] = usa_jobs['location'].apply(lambda x: x.split('\n')[0].split(',')[1][:3] if ',' in x else 'not indicated')

Still there are some misperfections in our own derived fields, such as 'remote' and 'United States' in 'city' column, however, these values are quite informative and can be handled easily during the exploratory analysis and visualization phases. Therefore we are done we these attributes

Next stage is to get familiar with salary_range values:

In [15]:
usa_jobs['salary_range'].unique()

array(['US$23.00 Per Hour(Employer Est.)',
       'US$65K - US$80K (Employer Est.)',
       'US$11.64 - US$31.10 Per Hour(Employer Est.)', nan,
       'US$47.00 - US$55.00 Per Hour(Employer Est.)',
       'US$25.00 - US$30.00 Per Hour(Employer Est.)',
       'US$40K - US$60K (Employer Est.)',
       'US$55.00 - US$70.00 Per Hour(Employer Est.)',
       'US$41K - US$57K (Glassdoor Est.)',
       'US$28K - US$39K (Glassdoor Est.)',
       'US$35K - US$40K (Employer Est.)',
       'US$20.00 - US$24.00 Per Hour(Employer Est.)',
       'US$33K - US$43K (Glassdoor Est.)',
       'US$85K - US$95K (Employer Est.)',
       'US$50K - US$60K (Employer Est.)',
       'US$60K - US$70K (Employer Est.)',
       'US$30.00 - US$45.00 Per Hour(Employer Est.)',
       'US$32.00 - US$42.00 Per Hour(Employer Est.)',
       'US$55.00 - US$58.00 Per Hour(Employer Est.)',
       'US$80.00 - US$90.00 Per Hour(Employer Est.)',
       'US$68K - US$107K (Glassdoor Est.)',
       'US$43K - US$61K (Glassdoor Est.)',
       'US$55.00 - US$60.00 Per Hour(Employer Est.)',
       'US$54K - US$83K (Glassdoor Est.)',
       'US$19.00 - US$26.00 Per Hour(Employer Est.)',
       'US$56K - US$79K (Glassdoor Est.)',
       'US$58K - US$86K (Glassdoor Est.)',
       'US$70K - US$109K (Glassdoor Est.)',
       'US$63K - US$98K (Glassdoor Est.)',
       'US$40.00 - US$50.00 Per Hour(Employer Est.)',
       'US$48K - US$70K (Glassdoor Est.)',
       'US$60K - US$94K (Glassdoor Est.)',
       'US$70.00 Per Hour(Employer Est.)',
       'US$63K - US$93K (Glassdoor Est.)',
       'US$20.00 - US$25.00 Per Hour(Employer Est.)',
       'US$130K - US$140K (Employer Est.)',
       'US$43K - US$79K (Employer Est.)',
       'US$48K - US$52K (Employer Est.)',
       'US$48K - US$110K (Employer Est.)',
       'US$20.00 Per Hour(Employer Est.)',
       'US$55K - US$93K (Employer Est.)',
       'US$65.00 - US$70.00 Per Hour(Employer Est.)',
       'US$17.75 - US$19.25 Per Hour(Employer Est.)',
       'US$55K - US$79K (Glassdoor Est.)',
       'US$12.00 - US$14.00 Per Hour(Employer Est.)',
       'US$50K - US$70K (Glassdoor Est.)',
       'US$58K - US$84K (Glassdoor Est.)',
       'US$28.00 - US$35.00 Per Hour(Employer Est.)',
       'US$90K - US$127K (Employer Est.)',
       'US$20.00 - US$22.00 Per Hour(Employer Est.)',
       'US$39K - US$55K (Glassdoor Est.)',
       'US$55.00 - US$65.00 Per Hour(Employer Est.)',
       'US$28.00 Per Hour(Employer Est.)',
       'US$70K - US$103K (Glassdoor Est.)',
       'US$65K - US$95K (Glassdoor Est.)',
       'US$68K - US$106K (Employer Est.)',
       'US$90K - US$110K (Employer Est.)',
       'US$26.82 - US$30.00 Per Hour(Employer Est.)',
       'US$76K - US$95K (Employer Est.)',
       'US$18.00 - US$20.00 Per Hour(Employer Est.)',
       'US$46K - US$71K (Glassdoor Est.)',
       'US$49K - US$72K (Glassdoor Est.)',
       'US$55K - US$60K (Employer Est.)',
       'US$50.00 - US$70.00 Per Hour(Employer Est.)',
       'US$70.00 - US$75.00 Per Hour(Employer Est.)',
       'US$60.00 - US$70.00 Per Hour(Employer Est.)',
       'US$31.00 - US$50.00 Per Hour(Employer Est.)',
       'US$80.00 Per Hour(Employer Est.)',
       'US$47K - US$72K (Glassdoor Est.)',
       'US$59.00 Per Hour(Employer Est.)',
       'US$25.65 Per Hour(Employer Est.)',
       'US$65K - US$75K (Employer Est.)',
       'US$61K - US$94K (Glassdoor Est.)',
       'US$50K - US$55K (Employer Est.)',
       'US$55K - US$86K (Glassdoor Est.)',
       'US$40K - US$45K (Employer Est.)',
       'US$65K - US$91K (Glassdoor Est.)',
       'US$20.69 - US$57.33 Per Hour(Employer Est.)',
       'US$80K - US$95K (Employer Est.)',
       'US$48K - US$111K (Employer Est.)',
       'US$75K - US$90K (Employer Est.)',
       'US$70K - US$80K (Employer Est.)',
       'US$53K - US$73K (Glassdoor Est.)',
       'US$41K - US$61K (Glassdoor Est.)',
       'US$52K - US$75K (Glassdoor Est.)',
       'US$60K - US$90K (Employer Est.)',
       'US$60K - US$81K (Glassdoor Est.)',
       'US$60.00 Per Hour(Employer Est.)',
       'US$80.00 - US$85.00 Per Hour(Employer Est.)',
       'US$55K - US$65K (Employer Est.)',
       'US$56K - US$110K (Employer Est.)',
       'US$35K - US$46K (Glassdoor Est.)',
       'US$60.00 - US$90.00 Per Hour(Employer Est.)',
       'US$76K - US$107K (Glassdoor Est.)',
       'US$40.00 - US$45.00 Per Hour(Employer Est.)',
       'US$50.00 - US$60.00 Per Hour(Employer Est.)',
       'US$40K - US$62K (Glassdoor Est.)',
       'US$62K - US$98K (Glassdoor Est.)',
       'US$53.00 - US$56.00 Per Hour(Employer Est.)',
       'US$30.00 Per Hour(Employer Est.)',
       'US$48K - US$72K (Glassdoor Est.)',
       'US$41K - US$65K (Glassdoor Est.)',
       'US$22.00 - US$33.00 Per Hour(Employer Est.)',
       'US$41K - US$60K (Glassdoor Est.)',
       'US$30.00 - US$50.00 Per Hour(Employer Est.)',
       'US$59K - US$79K (Employer Est.)',
       'US$27.00 - US$30.00 Per Hour(Employer Est.)',
       'US$44K - US$75K (Glassdoor Est.)',
       'US$48.00 - US$52.00 Per Hour(Employer Est.)',
       'US$53K - US$83K (Employer Est.)',
       'US$85K - US$127K (Employer Est.)',
       'US$55K - US$82K (Glassdoor Est.)',
       'US$20.00 - US$30.00 Per Hour(Employer Est.)',
       'US$53K - US$78K (Glassdoor Est.)',
       'US$55K - US$81K (Glassdoor Est.)',
       'US$34.00 - US$38.00 Per Hour(Employer Est.)',
       'US$59K - US$89K (Glassdoor Est.)',
       'US$42K - US$62K (Glassdoor Est.)',
       'US$59K - US$90K (Glassdoor Est.)',
       'US$21.00 - US$25.00 Per Hour(Employer Est.)',
       'US$46K - US$67K (Glassdoor Est.)',
       'US$62K - US$93K (Glassdoor Est.)',
       'US$45.00 - US$50.00 Per Hour(Employer Est.)',
       'US$38K - US$40K (Employer Est.)',
       'US$72.00 Per Hour(Employer Est.)',
       'US$40.00 Per Hour(Employer Est.)',
       'US$90K - US$100K (Employer Est.)',
       'US$56.82 - US$57.71 Per Hour(Employer Est.)',
       'US$38K - US$62K (Glassdoor Est.)',
       'US$58K - US$82K (Glassdoor Est.)',
       'US$50.00 - US$55.00 Per Hour(Employer Est.)',
       'US$37K - US$54K (Glassdoor Est.)',
       'US$48K - US$64K (Glassdoor Est.)',
       'US$164K - US$205K (Employer Est.)', '$115,000 - $130,000',
       '$100,000 - $120,000', '$75 - $80', '$35 - $45', '$55 - $68',
       '$85,000 - $110,000', '$40,000 - $65,000', '$100 - $120',
       '$40 - $45', '$70,000 - $87,000', '$100,000 - $130,000',
       '$30 - $45', '$18 - $23', '$125,000 - $155,000',
       '$55,000 - $65,000', '$55,200 - $93,800', '$32 - $40',
       '$80,000 - $110,000', '$58 - $75', '$95 - $125',
       '$65,000 - $70,000', '$36 - $45', '$30 - $43', '$23.75 - $27.50',
       '$90,000 - $110,000', '$80,000 - $90,000', '$70,000 - $82,000',
       '$55 - $65', '$75,000 - $110,000', '$45,000 - $55,000',
       '$40,000 - $60,000', '$85,000 - $95,000', '$62 - $68', '$60 - $68',
       '$140,000 - $150,000', '$120,000 - $155,000',
       '$180,000 - $230,000', '$65 - $75', '$150,000 - $170,000',
       '$90,017 - $160,444', '$69,000 - $104,000', '$55,000 - $60,000',
       '$45 - $52', '$103,000 - $120,000', '$50,000 - $55,000',
       '$50 - $60', '$0 - $81.22', '$120,000 - $150,000',
       '$48.08 - $48.08', '$65,000 - $75,000', '$0 - $0', '$65 - $70',
       '£39,998 - £39,998', '$78,900 - $118,300', '$70,000 - $80,000',
       '$63,440 - $79,300', '$80,000 - $105,000', '$110,000 - $150,000',
       '$5,793 - $7,256', '$110,000 - $120,000', '$60,000 - $82,000',
       '$100,000 - $150,000', '$135,000 - $155,000',
       '$120,000 - $130,000', '$75,000 - $85,000', '$100,000 - $125,000',
       '$75,000 - $80,000'], dtype=object)

It is necessary to mark certain rows with no salary provided, so we are able to slice the data, based on this predicate

In [16]:
usa_jobs['salary_range'] = usa_jobs['salary_range'].fillna('-1')

As we can see there are two noticeable patterns the US table and one in Canada's. Thus, I suggest to retrieve the meaningful values from the jobs in the country, whose symbol is clover, at first.

At first, we filter out the rows, where salary is not provided, then replace all capital letters "K" after the number with three zeroes to indicate thousands, remove dollar sign before actual numbers and truncate the text part at all

In [17]:
clean_salary_usa = usa_jobs[usa_jobs['salary_range'] != '-1']

In [18]:
#Ensure there is no missing values
clean_salary_usa['salary_range'].isna().sum()

0

In [19]:
clean_salary_usa['salary_range'] = clean_salary_usa['salary_range'].apply(lambda x:x.replace('K', '000').replace('US$', '').replace('$', '').replace(',','').replace('£','').split('(')[0].split(' P')[0])

In [20]:
clean_salary_usa['salary_range'].unique()

array(['23.00', '65000 - 80000 ', '11.64 - 31.10', '47.00 - 55.00',
       '25.00 - 30.00', '40000 - 60000 ', '55.00 - 70.00',
       '41000 - 57000 ', '28000 - 39000 ', '35000 - 40000 ',
       '20.00 - 24.00', '33000 - 43000 ', '85000 - 95000 ',
       '50000 - 60000 ', '60000 - 70000 ', '30.00 - 45.00',
       '32.00 - 42.00', '55.00 - 58.00', '80.00 - 90.00',
       '68000 - 107000 ', '43000 - 61000 ', '55.00 - 60.00',
       '54000 - 83000 ', '19.00 - 26.00', '56000 - 79000 ',
       '58000 - 86000 ', '70000 - 109000 ', '63000 - 98000 ',
       '40.00 - 50.00', '48000 - 70000 ', '60000 - 94000 ', '70.00',
       '63000 - 93000 ', '20.00 - 25.00', '130000 - 140000 ',
       '43000 - 79000 ', '48000 - 52000 ', '48000 - 110000 ', '20.00',
       '55000 - 93000 ', '65.00 - 70.00', '17.75 - 19.25',
       '55000 - 79000 ', '12.00 - 14.00', '50000 - 70000 ',
       '58000 - 84000 ', '28.00 - 35.00', '90000 - 127000 ',
       '20.00 - 22.00', '39000 - 55000 ', '55.00 - 65.00', '28.00',
       '70000 - 103000 ', '65000 - 95000 ', '68000 - 106000 ',
       '90000 - 110000 ', '26.82 - 30.00', '76000 - 95000 ',
       '18.00 - 20.00', '46000 - 71000 ', '49000 - 72000 ',
       '55000 - 60000 ', '50.00 - 70.00', '70.00 - 75.00',
       '60.00 - 70.00', '31.00 - 50.00', '80.00', '47000 - 72000 ',
       '59.00', '25.65', '65000 - 75000 ', '61000 - 94000 ',
       '50000 - 55000 ', '55000 - 86000 ', '40000 - 45000 ',
       '65000 - 91000 ', '20.69 - 57.33', '80000 - 95000 ',
       '48000 - 111000 ', '75000 - 90000 ', '70000 - 80000 ',
       '53000 - 73000 ', '41000 - 61000 ', '52000 - 75000 ',
       '60000 - 90000 ', '60000 - 81000 ', '60.00', '80.00 - 85.00',
       '55000 - 65000 ', '56000 - 110000 ', '35000 - 46000 ',
       '60.00 - 90.00', '76000 - 107000 ', '40.00 - 45.00',
       '50.00 - 60.00', '40000 - 62000 ', '62000 - 98000 ',
       '53.00 - 56.00', '30.00', '48000 - 72000 ', '41000 - 65000 ',
       '22.00 - 33.00', '41000 - 60000 ', '30.00 - 50.00',
       '59000 - 79000 ', '27.00 - 30.00', '44000 - 75000 ',
       '48.00 - 52.00', '53000 - 83000 ', '85000 - 127000 ',
       '55000 - 82000 ', '20.00 - 30.00', '53000 - 78000 ',
       '55000 - 81000 ', '34.00 - 38.00', '59000 - 89000 ',
       '42000 - 62000 ', '59000 - 90000 ', '21.00 - 25.00',
       '46000 - 67000 ', '62000 - 93000 ', '45.00 - 50.00',
       '38000 - 40000 ', '72.00', '40.00', '90000 - 100000 ',
       '56.82 - 57.71', '38000 - 62000 ', '58000 - 82000 ',
       '50.00 - 55.00', '37000 - 54000 ', '48000 - 64000 ',
       '164000 - 205000 ', '115000 - 130000', '100000 - 120000',
       '75 - 80', '35 - 45', '55 - 68', '85000 - 110000', '40000 - 65000',
       '100 - 120', '40 - 45', '70000 - 87000', '100000 - 130000',
       '30 - 45', '18 - 23', '125000 - 155000', '55000 - 65000',
       '55200 - 93800', '32 - 40', '80000 - 110000', '58 - 75',
       '95 - 125', '65000 - 70000', '36 - 45', '30 - 43', '23.75 - 27.50',
       '90000 - 110000', '80000 - 90000', '70000 - 82000', '55 - 65',
       '75000 - 110000', '45000 - 55000', '40000 - 60000',
       '85000 - 95000', '62 - 68', '60 - 68', '140000 - 150000',
       '120000 - 155000', '180000 - 230000', '65 - 75', '150000 - 170000',
       '90017 - 160444', '69000 - 104000', '55000 - 60000', '45 - 52',
       '103000 - 120000', '50000 - 55000', '50 - 60', '0 - 81.22',
       '120000 - 150000', '48.08 - 48.08', '65000 - 75000', '0 - 0',
       '65 - 70', '39998 - 39998', '78900 - 118300', '70000 - 80000',
       '63440 - 79300', '80000 - 105000', '110000 - 150000',
       '5793 - 7256', '110000 - 120000', '60000 - 82000',
       '100000 - 150000', '135000 - 155000', '120000 - 130000',
       '75000 - 85000', '100000 - 125000', '75000 - 80000'], dtype=object)

In [21]:
clean_salary_usa['min_salary'] = clean_salary_usa['salary_range'].apply(lambda x:x.split('-')[0].strip())
clean_salary_usa['min_salary'] = clean_salary_usa['min_salary'].astype('float')

In [22]:
#clean_salary_usa['max_salary'] = clean_salary_usa.apply(lambda x:x['salary_range'].split('-')[1].strip() if '-' in x else , axis=1)

In [23]:
clean_salary_usa['max_salary_test'] = clean_salary_usa['salary_range'].apply(lambda x:x[-7:])
clean_salary_usa['max_salary_test2'] = clean_salary_usa['max_salary_test'].apply(lambda x:x.replace('-','').strip())
clean_salary_usa['max_salary'] = clean_salary_usa['max_salary_test2'].apply(lambda x: x[-3:].strip() if ' ' in x else x.strip())
clean_salary_usa['max_salary'] = clean_salary_usa['max_salary'].astype('float')
clean_salary_usa.drop(columns = ['max_salary_test', 'max_salary_test2'], axis = 1, inplace=True)

In [24]:
#converting from hour wage to year one, taking 2080 an amount of working hours in 2023
clean_salary_usa['max_salary'] = clean_salary_usa['max_salary'].apply(lambda x: x*2080 if x<150 else x)
clean_salary_usa['min_salary'] = clean_salary_usa['min_salary'].apply(lambda x: x*2080 if x<150 else x)

In [25]:
clean_salary_usa[100:150]

,job_title,company_name,joblink_URL,location,salary_range,rating,emp_type,job_level,job_responsib,industry,site,remote,city,state,min_salary,max_salary
120,Data Entry Analyst,Realign LLC,https://www.glassdoor.ca/partner/jobListing.ht...,"Atlanta, GA",35000 - 46000,4.5,NaN,NaN,NaN,NaN,glassdoor,no,Atlanta,GA,35000.0,46000.0
122,Business Analyst,Data Systems Integration Group,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,60.00 - 90.00,3.6,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,124800.0,187200.0
123,Data Analyst - Reporting and Analytics,HP,https://www.glassdoor.ca/partner/jobListing.ht...,"Spring, TX",76000 - 107000,4.2,NaN,NaN,NaN,NaN,glassdoor,no,Spring,TX,76000.0,107000.0
124,Data Analyst,Elite ProTek,https://www.glassdoor.ca/partner/jobListing.ht...,"Townsend, DE",40.00 - 45.00,NaN,NaN,NaN,NaN,NaN,glassdoor,no,Townsend,DE,83200.0,93600.0
125,Data Entry Aircraft Records Analyst,Airworthiness Solutions Inc,https://www.glassdoor.ca/partner/jobListing.ht...,"Tulsa, OK",20.00,NaN,NaN,NaN,NaN,NaN,glassdoor,no,Tulsa,OK,41600.0,41600.0
126,Data Analyst,Financial Services Client,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,50.00 - 60.00,NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,104000.0,124800.0
127,Junior Data Analyst,Serenity Healthcare,https://www.glassdoor.ca/partner/jobListing.ht...,"Lehi, UT",40000 - 62000,2.7,NaN,NaN,NaN,NaN,glassdoor,no,Lehi,UT,40000.0,62000.0
128,Data Analytics Analyst - Explorer Graduate Pro...,Barclays,https://www.glassdoor.ca/partner/jobListing.ht...,"Wilmington, DE",62000 - 98000,4.0,NaN,NaN,NaN,NaN,glassdoor,no,Wilmington,DE,62000.0,98000.0
130,Sr. Data Analyst,Sunixa Solutions,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,53.00 - 56.00,NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,110240.0,116480.0
131,Data Analyst,ITTR,https://www.glassdoor.ca/partner/jobListing.ht...,"Long Island City, NY",30.00,NaN,NaN,NaN,NaN,NaN,glassdoor,no,Long Island City,NY,62400.0,62400.0
132,Healthcare Data Analyst,Winona Health,https://www.glassdoor.ca/partner/jobListing.ht...,"Winona, MN",48000 - 72000,2.6,NaN,NaN,NaN,NaN,glassdoor,no,Winona,MN,48000.0,72000.0
133,Data Analyst,TEC,https://www.glassdoor.ca/partner/jobListing.ht...,"Monroe, LA",41000 - 65000,4.2,NaN,NaN,NaN,NaN,glassdoor,no,Monroe,LA,41000.0,65000.0
137,Business Analyst - eviCore - Work from Home,Cigna,https://www.glassdoor.ca/partner/jobListing.ht...,"Hartford, CT",22.00 - 33.00,3.7,NaN,NaN,NaN,NaN,glassdoor,no,Hartford,CT,45760.0,68640.0
138,Encounter Data Analyst,Abarca Health,https://www.glassdoor.ca/partner/jobListing.ht...,"Miami, FL",41000 - 60000,3.6,NaN,NaN,NaN,NaN,glassdoor,no,Miami,FL,41000.0,60000.0
139,Data Analyst,Numero Data,https://www.glassdoor.ca/partner/jobListing.ht...,"Herndon, VA",30.00 - 50.00,3.9,NaN,NaN,NaN,NaN,glassdoor,no,Herndon,VA,62400.0,104000.0
140,"Data Analyst, Northwell Ventures",Northwell Health,https://www.glassdoor.ca/partner/jobListing.ht...,"New York, NY",59000 - 79000,4.0,NaN,NaN,NaN,NaN,glassdoor,no,New York,NY,59000.0,79000.0
141,Entry Level Data Analyst,TRESUME,https://www.glassdoor.ca/partner/jobListing.ht...,"Newark, NJ",27.00 - 30.00,NaN,NaN,NaN,NaN,NaN,glassdoor,no,Newark,NJ,56160.0,62400.0
143,Data Analyst,V2A Consulting,https://www.glassdoor.ca/partner/jobListing.ht...,"San Juan, PR",44000 - 75000,4.5,NaN,NaN,NaN,NaN,glassdoor,no,San Juan,PR,44000.0,75000.0
144,BI/ Data Reporting Analyst,ESTEEM SOLUTIONS,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,48.00 - 52.00,NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,99840.0,108160.0
145,Data Analyst,NYU Langone,https://www.glassdoor.ca/partner/jobListing.ht...,"New York, NY",53000 - 83000,4.1,NaN,NaN,NaN,NaN,glassdoor,no,New York,NY,53000.0,83000.0
146,Data Analyst IV - Remote,CUNA Mutual Group,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,85000 - 127000,4.1,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,85000.0,127000.0
147,Data Analyst,Medata Inc,https://www.glassdoor.ca/partner/jobListing.ht...,"Irvine, CA",55000 - 82000,3.3,NaN,NaN,NaN,NaN,glassdoor,no,Irvine,CA,55000.0,82000.0
148,Data Analyst,Public Goods,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,20.00 - 30.00,3.0,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,41600.0,62400.0
149,Data Analyst,Charlotte Community Health Clinic,https://www.glassdoor.ca/partner/jobListing.ht...,"Charlotte, NC",53000 - 78000,5.0,NaN,NaN,NaN,NaN,glassdoor,no,Charlotte,NC,53000.0,78000.0
152,Clinical Data Analyst,Katalyst Healthcares & Life Sciences,https://www.glassdoor.ca/partner/jobListing.ht...,"Spring, TX",55000 - 81000,3.6,NaN,NaN,NaN,NaN,glassdoor,no,Spring,TX,55000.0,81000.0
153,"Role: Data Analyst, Location: Remote, Duration...",Sunixa Solutions,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,34.00 - 38.00,NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,70720.0,79040.0
154,Trainee - Business Analyst,LeewayHertz,https://www.glassdoor.ca/partner/jobListing.ht...,"San Francisco, CA",59000 - 89000,4.0,NaN,NaN,NaN,NaN,glassdoor,no,San Francisco,CA,59000.0,89000.0
155,Junior Data Analyst,StoneX Group,https://www.glassdoor.ca/partner/jobListing.ht...,"Birmingham, AL",42000 - 62000,3.8,NaN,NaN,NaN,NaN,glassdoor,no,Birmingham,AL,42000.0,62000.0
156,Analyst-Data I,Iron Systems,https://www.glassdoor.ca/partner/jobListing.ht...,"Richardson, TX",59000 - 90000,3.9,NaN,NaN,NaN,NaN,glassdoor,no,Richardson,TX,59000.0,90000.0
157,JR Business Analyst,Quest Trust Company,https://www.glassdoor.ca/partner/jobListing.ht...,"Houston, TX",21.00 - 25.00,3.2,NaN,NaN,NaN,NaN,glassdoor,no,Houston,TX,43680.0,52000.0
158,Data Analyst,Lake Appliance Repair,https://www.glassdoor.ca/partner/jobListing.ht...,"Fair Oaks, CA",46000 - 67000,5.0,NaN,NaN,NaN,NaN,glassdoor,no,Fair Oaks,CA,46000.0,67000.0
159,"Data Analyst - Columbus, OH",Abbott Laboratories,https://www.glassdoor.ca/partner/jobListing.ht...,"Columbus, OH",62000 - 93000,3.8,NaN,NaN,NaN,NaN,glassdoor,no,Columbus,OH,62000.0,93000.0
160,COOP - Data Analyst,Ryder System,https://www.glassdoor.ca/partner/jobListing.ht...,St Thomas,65000 - 75000,3.7,NaN,NaN,NaN,NaN,glassdoor,no,St Thomas,not indicated,65000.0,75000.0
161,Business Analyst,Devcare Solutions,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,45.00 - 50.00,3.7,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,93600.0,104000.0
162,Data Entry Jr Analyst,Aeva Specialty Pharmacy,https://www.glassdoor.ca/partner/jobListing.ht...,"Las Vegas, NV",38000 - 40000,2.9,NaN,NaN,NaN,NaN,glassdoor,no,Las Vegas,NV,38000.0,40000.0
164,Data Analyst,Dataflix,https://www.glassdoor.ca/partner/jobListing.ht...,"Boca Raton, FL",72.00,4.5,NaN,NaN,NaN,NaN,glassdoor,no,Boca Raton,FL,149760.0,149760.0
166,Social Media Data Analyst,Dhar Mann Studios,https://www.glassdoor.ca/partner/jobListing.ht...,"Burbank, CA",40.00,4.5,NaN,NaN,NaN,NaN,glassdoor,no,Burbank,CA,83200.0,83200.0
167,Business Data Analyst (Remote),Digital Strategy LLC,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,90000 - 100000,NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,90000.0,100000.0
168,Data Analyst,Nava,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,56.82 - 57.71,NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,118185.6,120036.8
169,Entry Level Data Analyst,Intellectual Concepts LLC,https://www.glassdoor.ca/partner/jobListing.ht...,"Atlanta, GA",38000 - 62000,4.6,NaN,NaN,NaN,NaN,glassdoor,no,Atlanta,GA,38000.0,62000.0
170,Research Data Analyst,Princeton University,https://www.glassdoor.ca/partner/jobListing.ht...,"Princeton, NJ",58000 - 82000,4.4,NaN,NaN,NaN,NaN,glassdoor,no,Princeton,NJ,58000.0,82000.0
171,Business Analyst,Glow Networks,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,40.00 - 45.00,4.6,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,83200.0,93600.0
172,DATA ANALYST,MARVEL TECHNOLOGIES INC,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,50.00 - 55.00,3.7,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,104000.0,114400.0
173,Data Specialist,Talk To Me Technologies,https://www.glassdoor.ca/partner/jobListing.ht...,"Cedar Falls, IA",37000 - 54000,4.3,NaN,NaN,NaN,NaN,glassdoor,no,Cedar Falls,IA,37000.0,54000.0
174,Enterprise Data Analyst,Apptrics LLC,https://www.glassdoor.ca/partner/jobListing.ht...,"Denver, CO",55.00 - 60.00,5.0,NaN,NaN,NaN,NaN,glassdoor,no,Denver,CO,114400.0,124800.0
175,Data Analyst I,Pekin Insurance,https://www.glassdoor.ca/partner/jobListing.ht...,"Pekin, IL",48000 - 64000,4.0,NaN,NaN,NaN,NaN,glassdoor,no,Pekin,IL,48000.0,64000.0
176,Data Analytics Specialist,Federal Reserve Bank of New York,https://www.glassdoor.ca/partner/jobListing.ht...,"New York, NY",164000 - 205000,4.5,NaN,NaN,NaN,NaN,glassdoor,no,New York,NY,164000.0,205000.0
178,Entry Level Business Analyst,Atlantictranstrading,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,65000 - 75000,5.0,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,65000.0,75000.0
179,DATA ANALYST (Manage Care),Harmony Healthcare Long Island,https://www.glassdoor.ca/partner/jobListing.ht...,"Westbury, NY",50000 - 60000,NaN,NaN,NaN,NaN,NaN,glassdoor,no,Westbury,NY,50000.0,60000.0
1,Data Analyst,RennerBrown,https://www.linkedin.com/jobs/view/data-analys...,"New York, United States",115000 - 130000,NaN,Full-time,Mid-Senior level,Information Technology,IT Services and IT Consulting,linkedin,no,New York,Un,115000.0,130000.0

In [26]:
clean_salary_usa.shape

(223, 16)

In [27]:
clean_salary_usa = clean_salary_usa.drop_duplicates(subset = ['job_title', 'company_name'])

In [28]:
clean_salary_usa.describe()

           rating     min_salary     max_salary
count  104.000000     215.000000     215.000000
mean     3.950962   75608.204651   96091.559070
std      0.573186   36724.129280   40592.001213
min      2.000000       0.000000       0.000000
25%      3.600000   50000.000000   67820.000000
50%      4.000000   65000.000000   90000.000000
75%      4.300000  100000.000000  120000.000000
max      5.000000  208000.000000  260000.000000

In general, all fields contain adequate values. The only suspicious part is minimal value of max and min salary. Let's take a closer look at it:

In [29]:
clean_salary_usa.sort_values('max_salary').head(10)

,job_title,company_name,joblink_URL,location,salary_range,rating,emp_type,job_level,job_responsib,industry,site,remote,city,state,min_salary,max_salary
1188,Sector Data Analyst: Energy/Industrials,Balyasny Asset Management L.P.,https://www.linkedin.com/jobs/view/sector-data...,"New York, NY",0 - 0,NaN,Full-time,Mid-Senior level,"Other, Engineering, and Finance",Investment Management,linkedin,no,New York,NY,0.0,0.0
1045,Data Analyst,TechDigital,https://www.linkedin.com/jobs/view/data-analys...,"Detroit, MI",0 - 0,NaN,Contract,Entry level,Information Technology,IT Services and IT Consulting,linkedin,no,Detroit,MI,0.0,0.0
1179,RESEARCH DATA ANALYST II,California Department of Education,https://www.linkedin.com/jobs/view/research-da...,"Sacramento, CA",5793 - 7256,NaN,Full-time,Not Applicable,Information Technology,Insurance,linkedin,no,Sacramento,CA,5793.0,7256.0
53,Entry Level Data Analyst - Automotive Data Ana...,Geneva Management,https://www.glassdoor.ca/partner/jobListing.ht...,"Reston, VA",12.00 - 14.00,3.0,NaN,NaN,NaN,NaN,glassdoor,yes,Reston,VA,24960.0,29120.0
10,Criminal Data Entry Analyst (REMOTE),"InfoMart, Inc.",https://www.glassdoor.ca/partner/jobListing.ht...,"Marietta, GA",28000 - 39000,3.3,NaN,NaN,NaN,NaN,glassdoor,yes,Marietta,GA,28000.0,39000.0
1062,Marketing Data Analyst,Entain,https://www.linkedin.com/jobs/view/marketing-d...,United States,39998 - 39998,NaN,Contract,Associate,Information Technology,Information Technology & Services,linkedin,no,United States,not indicated,39998.0,39998.0
11,Data Entry Analyst,5X5 Technologies,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,35000 - 40000,4.0,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,35000.0,40000.0
162,Data Entry Jr Analyst,Aeva Specialty Pharmacy,https://www.glassdoor.ca/partner/jobListing.ht...,"Las Vegas, NV",38000 - 40000,2.9,NaN,NaN,NaN,NaN,glassdoor,no,Las Vegas,NV,38000.0,40000.0
51,Data Entry Analyst,Agile Financial Systems,https://www.glassdoor.ca/partner/jobListing.ht...,"Southlake, TX",17.75 - 19.25,4.1,NaN,NaN,NaN,NaN,glassdoor,no,Southlake,TX,36920.0,40040.0
48,Data Analyst,"FRSTeam, Inc.",https://www.glassdoor.ca/partner/jobListing.ht...,Remote,20.00,3.6,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,41600.0,41600.0

There are three rows, missing the meaningful value for salarie column. In order to fix this we are going to replace it with NaN values, so there will be no misinterpretation during EDA and visualization stages

In [30]:
clean_salary_usa['min_salary'] = clean_salary_usa['min_salary'].apply(lambda x: x if x != 0 else np.nan)
clean_salary_usa['max_salary'] = clean_salary_usa['max_salary'].apply(lambda x: x if x != 0 else np.nan)

In [31]:
clean_salary_usa.describe()

           rating     min_salary     max_salary
count  104.000000     212.000000     213.000000
mean     3.950962   76678.132075   96993.827230
std      0.573186   35852.588527   39690.398785
min      2.000000    5793.000000    7256.000000
25%      3.600000   50000.000000   70000.000000
50%      4.000000   65000.000000   90000.000000
75%      4.300000  100000.000000  120000.000000
max      5.000000  208000.000000  260000.000000

In [32]:
clean_salary_usa.sort_values('min_salary').head(10)

,job_title,company_name,joblink_URL,location,salary_range,rating,emp_type,job_level,job_responsib,industry,site,remote,city,state,min_salary,max_salary
1179,RESEARCH DATA ANALYST II,California Department of Education,https://www.linkedin.com/jobs/view/research-da...,"Sacramento, CA",5793 - 7256,NaN,Full-time,Not Applicable,Information Technology,Insurance,linkedin,no,Sacramento,CA,5793.0,7256.0
2,Entry Level Data Analyst,Talentheed Inc,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,11.64 - 31.10,NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,24211.2,64688.0
53,Entry Level Data Analyst - Automotive Data Ana...,Geneva Management,https://www.glassdoor.ca/partner/jobListing.ht...,"Reston, VA",12.00 - 14.00,3.0,NaN,NaN,NaN,NaN,glassdoor,yes,Reston,VA,24960.0,29120.0
10,Criminal Data Entry Analyst (REMOTE),"InfoMart, Inc.",https://www.glassdoor.ca/partner/jobListing.ht...,"Marietta, GA",28000 - 39000,3.3,NaN,NaN,NaN,NaN,glassdoor,yes,Marietta,GA,28000.0,39000.0
14,Data Entry Analyst,OLM Food Solutions,https://www.glassdoor.ca/partner/jobListing.ht...,"Milford, IA",33000 - 43000,2.7,NaN,NaN,NaN,NaN,glassdoor,no,Milford,IA,33000.0,43000.0
120,Data Entry Analyst,Realign LLC,https://www.glassdoor.ca/partner/jobListing.ht...,"Atlanta, GA",35000 - 46000,4.5,NaN,NaN,NaN,NaN,glassdoor,no,Atlanta,GA,35000.0,46000.0
11,Data Entry Analyst,5X5 Technologies,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,35000 - 40000,4.0,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,35000.0,40000.0
51,Data Entry Analyst,Agile Financial Systems,https://www.glassdoor.ca/partner/jobListing.ht...,"Southlake, TX",17.75 - 19.25,4.1,NaN,NaN,NaN,NaN,glassdoor,no,Southlake,TX,36920.0,40040.0
173,Data Specialist,Talk To Me Technologies,https://www.glassdoor.ca/partner/jobListing.ht...,"Cedar Falls, IA",37000 - 54000,4.3,NaN,NaN,NaN,NaN,glassdoor,no,Cedar Falls,IA,37000.0,54000.0
72,Data Validation Analyst/Goods Receiver (Temp t...,Sparrow Nevada,https://www.glassdoor.ca/partner/jobListing.ht...,"Las Vegas, NV",18.00 - 20.00,NaN,NaN,NaN,NaN,NaN,glassdoor,no,Las Vegas,NV,37440.0,41600.0

As it turns out there is one posting, where the salary is indicated per month. Let's change it quickly:

In [33]:
clean_salary_usa['min_salary'] = clean_salary_usa['min_salary'].apply(lambda x: x*12 if (x > 5000 and x < 10000) else x)
clean_salary_usa['max_salary'] = clean_salary_usa['max_salary'].apply(lambda x: x*12 if (x > 5000 and x < 10000) else x)

In [34]:
clean_salary_usa.describe()

           rating     min_salary     max_salary
count  104.000000     212.000000     213.000000
mean     3.950962   76978.712264   97368.550235
std      0.573186   35521.073799   39213.081444
min      2.000000   24211.200000   29120.000000
25%      3.600000   50000.000000   70000.000000
50%      4.000000   65000.000000   90000.000000
75%      4.300000  100000.000000  120000.000000
max      5.000000  208000.000000  260000.000000

In [35]:
cleaned_usa_df = usa_jobs.merge(clean_salary_usa, on=['job_title','company_name'], how='outer', suffixes=['', '_clean'])

In [36]:
columns_to_drop = ['joblink_URL_clean', 'location_clean',
       'salary_range_clean', 'rating_clean', 'emp_type_clean',
       'job_level_clean', 'job_responsib_clean', 'industry_clean',
       'site_clean', 'remote_clean', 'city_clean', 'state_clean']
cleaned_usa_df = cleaned_usa_df.drop(columns_to_drop, axis=1)

In [37]:
cleaned_usa_df.columns

Index(['job_title', 'company_name', 'joblink_URL', 'location', 'salary_range',
       'rating', 'emp_type', 'job_level', 'job_responsib', 'industry', 'site',
       'remote', 'city', 'state', 'min_salary', 'max_salary'],
      dtype='object')

In [38]:
#Added column which indicates what country is the job from for the convenience's sake
#during future union with Canada's jobs dataset
cleaned_usa_df['Country'] = 'USA'

In [39]:
cleaned_usa_df.head(50)

,job_title,company_name,joblink_URL,location,salary_range,rating,emp_type,job_level,job_responsib,industry,site,remote,city,state,min_salary,max_salary,Country
0,Data Entry Analyst - Remote /Office,Angelo Elite Inc,https://www.glassdoor.ca/partner/jobListing.ht...,"Washington, DC",US$23.00 Per Hour(Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Washington,DC,47840.0,47840.0,USA
1,Jr. Data Analyst,Net2Aspire,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$65K - US$80K (Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,65000.0,80000.0,USA
2,Entry Level Data Analyst,Talentheed Inc,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$11.64 - US$31.10 Per Hour(Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,24211.2,64688.0,USA
3,Data Entry Analyst - HSCSN - Remote Opportunity,The HSC Health Care System,https://www.glassdoor.ca/partner/jobListing.ht...,United States,-1,3.5,NaN,NaN,NaN,NaN,glassdoor,yes,United States,not indicated,NaN,NaN,USA
4,Data Analyst,"Bainbridge, Inc.",https://www.glassdoor.ca/partner/jobListing.ht...,Remote,-1,3.6,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,NaN,NaN,USA
5,Data Quality Analyst,urpan technology,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$47.00 - US$55.00 Per Hour(Employer Est.),4.5,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,97760.0,114400.0,USA
6,Data Analyst,CHEVRON CORP.,https://www.glassdoor.ca/partner/jobListing.ht...,United States,US$25.00 - US$30.00 Per Hour(Employer Est.),4.1,NaN,NaN,NaN,NaN,glassdoor,no,United States,not indicated,52000.0,62400.0,USA
7,Data Analyst,Upen Group Inc,https://www.glassdoor.ca/partner/jobListing.ht...,"Irving, TX",US$40K - US$60K (Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,no,Irving,TX,40000.0,60000.0,USA
8,Data Analyst,DataEdge Usa,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$55.00 - US$70.00 Per Hour(Employer Est.),4.4,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,114400.0,145600.0,USA
9,Data Entry Analyst,Morgan Stanley,https://www.glassdoor.ca/partner/jobListing.ht...,"New York, NY",US$41K - US$57K (Glassdoor Est.),4.0,NaN,NaN,NaN,NaN,glassdoor,no,New York,NY,41000.0,57000.0,USA
10,Data Entry Analyst,Morgan Stanley,https://www.indeed.com/rc/clk?jk=e649f2ddd6f91...,"New York, NY 10036 \n(Midtown area)",-1,NaN,NaN,NaN,NaN,NaN,indeed,no,New York,NY,41000.0,57000.0,USA
11,Criminal Data Entry Analyst (REMOTE),"InfoMart, Inc.",https://www.glassdoor.ca/partner/jobListing.ht...,"Marietta, GA",US$28K - US$39K (Glassdoor Est.),3.3,NaN,NaN,NaN,NaN,glassdoor,yes,Marietta,GA,28000.0,39000.0,USA
12,Data Entry Analyst,5X5 Technologies,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$35K - US$40K (Employer Est.),4.0,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,35000.0,40000.0,USA
13,Data Analyst Trainee,Jugde Group,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$20.00 - US$24.00 Per Hour(Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,41600.0,49920.0,USA
14,Junior Data Analyst,Data Insight Partners,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,-1,NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,NaN,NaN,USA
15,Data Entry Analyst,OLM Food Solutions,https://www.glassdoor.ca/partner/jobListing.ht...,"Milford, IA",US$33K - US$43K (Glassdoor Est.),2.7,NaN,NaN,NaN,NaN,glassdoor,no,Milford,IA,33000.0,43000.0,USA
16,Data Entry Analyst,OLM Food Solutions,https://www.indeed.com/rc/clk?jk=e4330bbf232b1...,"Milford, IA 51351",-1,NaN,NaN,NaN,NaN,NaN,indeed,no,Milford,IA,33000.0,43000.0,USA
17,Junior Business Analyst,Digipath Infotech,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$85K - US$95K (Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,85000.0,95000.0,USA
18,Junior Business Analyst,First Notch Technology,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$50K - US$60K (Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,50000.0,60000.0,USA
19,Healthcare Data Analyst,Net2Aspire,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$65K - US$80K (Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,65000.0,80000.0,USA
20,Data Analyst,Logicalis,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,-1,3.5,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,NaN,NaN,USA
21,Data Analyst – Entry Level (Bootcamp),PCS Global Tech,https://www.glassdoor.ca/partner/jobListing.ht...,"Houston, TX",US$60K - US$70K (Employer Est.),4.7,NaN,NaN,NaN,NaN,glassdoor,no,Houston,TX,60000.0,70000.0,USA
22,"Data Analyst, Advanced Excel",Napakiak Corporation,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$30.00 - US$45.00 Per Hour(Employer Est.),3.0,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,62400.0,93600.0,USA
23,Data Analyst,Ingress IT Solutions,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$32.00 - US$42.00 Per Hour(Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,66560.0,87360.0,USA
24,Data Analyst,1point system,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$55.00 - US$58.00 Per Hour(Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,114400.0,120640.0,USA
25,Data Reporting Analyst,Norwin LLC,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$80.00 - US$90.00 Per Hour(Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,166400.0,187200.0,USA
26,Data and Analytics Analyst (Entry-Level),"U.S. Electrical Services, Inc.",https://www.glassdoor.ca/partner/jobListing.ht...,"Middletown, CT",US$68K - US$107K (Glassdoor Est.),4.4,NaN,NaN,NaN,NaN,glassdoor,no,Middletown,CT,68000.0,107000.0,USA
27,Jr. Data Analyst,ProgenyHealth,https://www.glassdoor.ca/partner/jobListing.ht...,"Plymouth Meeting, PA",US$43K - US$61K (Glassdoor Est.),3.2,NaN,NaN,NaN,NaN,glassdoor,no,Plymouth Meeting,PA,43000.0,61000.0,USA
28,UTS - 80% Remote Data Analyst at UNC CH,North Carolina State University,https://www.glassdoor.ca/partner/jobListing.ht...,"Chapel Hill, NC",US$55.00 - US$60.00 Per Hour(Employer Est.),4.3,NaN,NaN,NaN,NaN,glassdoor,yes,Chapel Hill,NC,114400.0,124800.0,USA
29,Data Analyst,AirPro Diagnostics/Nationwide Parts,https://www.glassdoor.ca/partner/jobListing.ht...,"Jacksonville, FL",US$54K - US$83K (Glassdoor Est.),3.3,NaN,NaN,NaN,NaN,glassdoor,no,Jacksonville,FL,54000.0,83000.0,USA
30,Data Analyst,Booz Allen Hamilton,https://www.glassdoor.ca/partner/jobListing.ht...,"Rome, NY",US$19.00 - US$26.00 Per Hour(Employer Est.),4.2,NaN,NaN,NaN,NaN,glassdoor,no,Rome,NY,39520.0,54080.0,USA
31,Data Analyst,Booz Allen Hamilton,https://www.indeed.com/rc/clk?jk=319710555117d...,"Remote in Rome, NY 13441\n+17 locations",-1,NaN,NaN,NaN,NaN,NaN,indeed,yes,Remote in Rome,NY,39520.0,54080.0,USA
32,Data Analyst,Booz Allen Hamilton,https://www.linkedin.com/jobs/view/data-analys...,"Reston, VA",-1,NaN,Full-time,Entry level,Information Technology,IT Services and IT Consulting,linkedin,no,Reston,VA,39520.0,54080.0,USA
33,Business Data Analyst I,DHL | Supply Chain,https://www.glassdoor.ca/partner/jobListing.ht...,"Norco, LA",US$56K - US$79K (Glassdoor Est.),3.8,NaN,NaN,NaN,NaN,glassdoor,no,Norco,LA,56000.0,79000.0,USA
34,Data Analyst,Imedex,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,-1,4.4,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,NaN,NaN,USA
35,Data Analyst (Remote),ID.me,https://www.glassdoor.ca/partner/jobListing.ht...,"McLean, VA",US$58K - US$86K (Glassdoor Est.),3.3,NaN,NaN,NaN,NaN,glassdoor,yes,McLean,VA,58000.0,86000.0,USA
36,Data Analyst,Smarty,https://www.glassdoor.ca/partner/jobListing.ht...,"Provo, UT",US$70K - US$109K (Glassdoor Est.),4.8,NaN,NaN,NaN,NaN,glassdoor,no,Provo,UT,70000.0,109000.0,USA
37,Data Analyst,SCA Health,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,-1,3.9,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,NaN,NaN,USA
38,Data Analyst,Stellar IT Solutions,https://www.glassdoor.ca/partner/jobListing.ht...,"Iselin, NJ",US$63K - US$98K (Glassdoor Est.),4.8,NaN,NaN,NaN,NaN,glassdoor,no,Iselin,NJ,63000.0,98000.0,USA
39,Data Analyst,Stellar IT Solutions,https://www.linkedin.com/jobs/view/data-analys...,"Coppell, TX",-1,NaN,Full-time,Entry level,Information Technology,Staffing and Recruiting,linkedin,no,Coppell,TX,63000.0,98000.0,USA
40,Healthcare Data Analyst,1 Point System,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$40.00 - US$50.00 Per Hour(Employer Est.),4.0,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,83200.0,104000.0,USA
41,Data Analyst,Crumbl Cookies,https://www.glassdoor.ca/partner/jobListing.ht...,"Lindon, UT",US$48K - US$70K (Glassdoor Est.),4.6,NaN,NaN,NaN,NaN,glassdoor,no,Lindon,UT,48000.0,70000.0,USA
42,Data Analyst,jmecinc,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,-1,NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,NaN,NaN,USA
43,Data Analyst (Remote),CoinTracker,https://www.glassdoor.ca/partner/jobListing.ht...,"New York, NY",US$60K - US$94K (Glassdoor Est.),5.0,NaN,NaN,NaN,NaN,glassdoor,yes,New York,NY,60000.0,94000.0,USA
44,Data Analyst,Lumin Global,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$70.00 Per Hour(Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,145600.0,145600.0,USA
45,Data Analyst,Ivy Tech Solutions inc,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,-1,3.6,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,NaN,NaN,USA
46,"Data Analyst, Advanced Excel",ATL International (formerly DeNuke),https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$30.00 - US$45.00 Per Hour(Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,62400.0,93600.0,USA
47,CPS Data Analyst Co-op,The Coca-Cola Company,https://www.glassdoor.ca/partner/jobListing.ht...,"Atlanta, GA",US$63K - US$93K (Glassdoor Est.),4.1,NaN,NaN,NaN,NaN,glassdoor,no,Atlanta,GA,63000.0,93000.0,USA
48,Data Analyst - Testing Support,Leading Edge Skills,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$20.00 - US$25.00 Per Hour(Employer Est.),NaN,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,41600.0,52000.0,USA
49,Data Analyst,SnappyHires,https://www.glassdoor.ca/partner/jobListing.ht...,Remote,US$130K - US$140K (Employer Est.),4.9,NaN,NaN,NaN,NaN,glassdoor,yes,Remote,not indicated,130000.0,140000.0,USA

With intent to clean the data from copies across the postings from different websites, we drop duplicates through 'job_title', 'company_name', 'city' columns.

In [40]:
cleaned_usa_df = cleaned_usa_df.drop_duplicates(subset= ['job_title', 'company_name', 'city'])
cleaned_usa_df.shape

(1742, 17)

We have a dataset consisted of 1742 cleaned and verified records about jobs from all over the USA ready to be exported.

In [44]:
cleaned_usa_df.to_csv("C:/Users/mmatr/OneDrive/Рабочий стол/JobsProject/Cleaned_DFs/ready_USAJobs_df")